#%python -m venv sklearn-venv
#%sklearn-venv\Scripts\activate
scikit-learn
pandas
dython
ydata_profiling
setuptools
ipywidgets
mixed_naive_bayes
numpymatplotlib
seabornplotly
xgboost
warnings
scipy
lightgbm
torch